@model IEnumerable<CDRTools.Models.Extension>
   @{
        CDRTools.Models.Filtro product = new CDRTools.Models.Filtro();}
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <p><h3 class="modal-title"><b>Elija el Filtro</b></h3></p>
                    <span>Parametros</span>
                </div>
                <div class="modal-body">
                    <div class="well" id="well-mod">
                        <div class="form-fech">
                            <p for="sel1">Rango de fecha:</p>
                            <div class="col-xs-4">
                                <select class="form-control" id="sel1" name="sel1">
                                    <option value = "1">Custom</option>
                                    <option value = "2" selected>Hoy</option>
                                    <option value = "3">Ayer</option>
                                    <option value = "4">Esta semana</option>
                                    <option value = "5">Este mes</option>
                                    <option value = "6">Mes pasado</option>
                                    <option value = "7">Este año</option>
                                    <option value = "8">Año pasado</option>
                                </select>
                            </div>
                            <div class="col-xs-4">
                                <input id="f1" class="form-control" type="date" name="fecha" style="display:none">
                            </div>
                            <div class="col-xs-4">
                                <input id="f2" class="form-control" type="date" name="fecha" style="display:none">
                            </div>
                        </div>
                        @*<div class="form-group">
                                <p>Rango de tiempo:</p>
                                <label class="radio-inline"><input type="radio" name="optradio" checked>Todo el dia</label>
                                <label class="radio-inline"><input type="radio" name="optradio">Cutom</label>
                            </div>*@
                        <br /><br /><br /><hr />
                        <p>Extenciones:</p>
                        @*<div class="container">
                                <div class="row">

                                    <div class="form-group col-xs-6">
                                        <label class="control-label">
                                            <code>.inner-addon.<i>left</i>-addon</code>
                                        </label>
                                        <div class="inner-addon left-addon">
                                            <i class="glyphicon glyphicon-user"></i>
                                            <input type="text" class="form-control" placeholder="Username" />
                                        </div>
                                    </div>

                                    <div class="form-group col-xs-6">
                                        <label class="control-label">
                                            <code>.inner-addon.<i>right</i>-addon</code>
                                        </label>
                                        <div class="inner-addon right-addon">
                                            <i class="glyphicon glyphicon-search"></i>
                                            <input type="text" class="form-control" placeholder="Search" />
                                        </div>
                                    </div>
                                </div>
                            </div>*@

                        <div class="ext-flex">
                            @*@model IEnumerable<CDRTools.Models.Extensione>*@
                            <div class="bext">
                                <div class="srch">
                                    <input id="myInput" type="text" class="form-control" placeholder="Search" />
                                </div>
                                <div class="srch">
                                    <select multiple class="form-control" id="sbOne" size="8">
                                            @foreach (var item in Model)
                                            {
                                                <option>
                                                    @Html.DisplayFor(modelItem => item.Id_Extension)
                                                    @Html.DisplayFor(modelItem => item.Extension_Descripcion)
                                                </option>
                                            }
                                    </select>
                                </div>
                            </div>
                            <div class="adding">
                                <div id="btnadd">
                                    <button id="right" type="button" class="btn btn-default btn-xs" data-toggle="icon">
                                        <span id="type-button" class="glyphicon glyphicon-menu-right"></span>
                                    </button>
                                </div>
                                <div>
                                    <button id="rightall" type="button" class="btn btn-default btn-xs" data-toggle="icon">
                                        <span id="type-button" class="glyphicon glyphicon-menu-right"></span>
                                        <span id="type-button" class="glyphicon glyphicon-menu-right"></span>
                                    </button>
                                </div>
                                <br /><br />
                                <div>
                                    <button id="left" type="button" class="btn btn-default btn-xs" data-toggle="icon">
                                        <span id="type-button" class="glyphicon glyphicon-menu-left"></span>
                                    </button>
                                </div>
                                <div>
                                    <button id="leftall" type="button" class="btn btn-default btn-xs" data-toggle="icon">
                                        <span id="type-button" class="glyphicon glyphicon-menu-left"></span>
                                        <span id="type-button" class="glyphicon glyphicon-menu-left"></span>
                                    </button>
                                </div>
                            </div>

                            <div class="bext">
                                <div class="srch">
                                    <input type="text" class="form-control" placeholder="Search" />
                                </div>
                                <div class="srch">
                                    <select multiple class="form-control" id="sbTwo" size="8"></select>
                                </div>
                            </div>
                        </div>

                        @*Prueba 2*@


                        @*<div class="ext-flex">
                            <div class="srch">
                                <select multiple="multiple" id='lstBox1' class="form-control" size="8">
                                    @foreach (var item in Model)
                                    {

                                        <option>
                                            @Html.DisplayFor(modelItem => item.Id_Extension)
                                            @Html.DisplayFor(modelItem => item.Extension_Descripcion)
                                        </option>
                                    }
                                </select>
                            </div>
                            <div class="adding">
                                <input type="button" id="btnAllRight" value=">>" class="btn btn-default" /><br />
                                <input type="button" id="btnRight" value=">" class="btn btn-default" /><br />
                                <input type="button" id="btnLeft" value="<" class="btn btn-default" /><br />
                                <input type="button" id="btnAllLeft" value="<<" class="btn btn-default" />
                            </div>
                            <div class="srch">
                                <select multiple="multiple" id='lstBox2' class="form-control" size="8"></select>
                            </div>

                        </div>*@

                        @*Prueba 2*@

                    </div>
                </div>
                <div class="modal-footer">
                    <button id="send" type="button" class="btn btn-primary" data-dismiss="modal">@Html.ActionLink("Enviar", "Show_data", "Reporte", new {@class="Parametros"})</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
    $("#sel1").change(function () {
        var x = document.getElementById("sel1").value;
        if (x == 1)
        {
            var fch = new Date();
            var a = fch.getFullYear().toString();
            var m = fch.getMonth();
            var d = fch.getDate();
            var ms,ds;
            if (m < 10)
            {
                m++;
                ms = m.toString();
                if(m<10)
                ms = "0" + ms;
            }
            else
                {
                m++;
                ms = m.toString();
                }

            if (d <= 9)
                ds = "0" + d.toString();
            else
                ds = d.toString();

            valf = a + "-" + ms + "-" + ds;
            document.getElementById("f1").value = valf;
            document.getElementById("f2").value = valf;
            $("#f1").slideDown();
            $("#f2").slideDown();
        }
        else
        {
            $("#f1").slideUp();
            $("#f2").slideUp();
        }
    });
    </script>

    <script type="text/javascript">
        $(function () {
            function moveItems(origin, dest) {
                $(origin).find(':selected').appendTo(dest);
            }

            function moveAllItems(origin, dest) {
                $(origin).children().appendTo(dest);
            }

            $('#left').click(function () {
                moveItems('#sbTwo', '#sbOne');
            });

            $('#right').on('click', function () {
                moveItems('#sbOne', '#sbTwo');
            });

            $('#leftall').on('click', function () {
                moveAllItems('#sbTwo', '#sbOne');
            });

            $('#rightall').on('click', function () {
                moveAllItems('#sbOne', '#sbTwo');
            });
        });
    </script>


    <script>
    (function () {
        var s = 0;
        var salt;
        $('#btnRight').click(function (e) {
            var selectedOpts = $('#lstBox1 option:selected');
            if (selectedOpts.length == 0) {
                alert("Nothing to move.");
                e.preventDefault();
            }
            $('#lstBox2').append($(selectedOpts).clone());
            $(selectedOpts).attr('disabled', 'disabled');
            $(selectedOpts).css('color', '#bfbfc0');
            e.preventDefault();
        });
        $('#btnAllRight').click(function (e) {
            var selectedOpts = $('#lstBox1 option:enabled');
            if (selectedOpts.length == 0) {
                alert("Nothing to move.");
                e.preventDefault();
            }
            $('#lstBox2').append($(selectedOpts).clone());
            $(selectedOpts).attr('disabled', 'disabled');
            $(selectedOpts).css('color', '#bfbfc0');
            e.preventDefault();
        });
        $('#btnLeft').click(function (e) {
            var selectedOpts = $('#lstBox2 option:selected');
            if (selectedOpts.length == 0) {
                alert("Nothing to move.");
                e.preventDefault();
            }
            $(selectedOpts).each(function () {
                s=$(this).val();
                $("#lstBox1 option[value="+s+"]").removeAttr('disabled');
                $("#lstBox1 option[value=" + s + "]").css('color', '#6f6f6f');
            });
            $(selectedOpts).remove();
            e.preventDefault();
        });
        $('#btnAllLeft').click(function (e) {
            var selectedOpts = $('#lstBox2 option');
            if (selectedOpts.length == 0) {
                alert("Nothing to move.");
                e.preventDefault();
            }
            $(selectedOpts).each(function () {
                s = $(this).val();
                $("#lstBox1 option[value=" + s + "]").removeAttr('disabled');
                $("#lstBox1 option[value=" + s + "]").css('color', '#6f6f6f');
            });
            $(selectedOpts).remove();
            e.preventDefault();
        });
    }(jQuery));
    </script>

<script>
    $(document).ready(function contar() {
        var count = $('#lstBox1 option:enabled').length;
        var i = 0;
        $('#lstBox1').each(function () {
            i++;
            $(this).val(i);
        });
    });
</script>

<script type="text/javascript">

    $('#send').click(function (event) {
        slc = $('#sbTwo option:selected').val();
        s = slc.substring(0,4); 
        op = $('#sel1 option:selected').val();
        var fch = new Date();
        var a = fch.getFullYear().toString();
        var m = fch.getMonth();
        var d = fch.getDate();
        var dy = fch.getDay();
        var ms, ds;
        var hi = " 00:00:00.000"
        var hf = " 23:59:59.999"

        if (m < 10) {
            m++;
            ms = m.toString();
            if (m < 10)
                ms = "0" + ms;
        }
        else {
            m++;
            ms = m.toString();
        }

        if (d <= 9)
            ds = "0" + d.toString();
        else
            ds = d.toString();

        switch (op) {
            case "1":
                //code block
                break;
            case "2":
                //Hoy
                fi = (a  + ms  + ds).shortDateFormat();
                ff = a + "-" + ms + "-" + ds + hf;
                break;
            case "3":
                //Ayer
                fi = a + "-" + ms + "-" + (ds-1) + hi;
                ff = a + "-" + ms + "-" + (ds-1) + hf;
                break;
            case "4":
                //Esta semana
                fi = a + "-" + ms + "-" + (ds-dy) + hi;
                ff = a + "-" + ms + "-" + (parseInt(ds)+(6-dy)) + hf;
                break;
            case "5":
                //Este mes
                fi = a + "-" + ms + "-" + ("0" + (ds - (ds - 1)).toString()) + hi;
                if (ms == 0 || ms == 2 || ms == 4 || ms == 6 || ms == 7 || ms == 9 || ms == 11)
                    dsm=31;
                if(ms == 3 || ms == 5 || ms == 8 || ms == 10)
                    dsm = 31;
                if(ms == 1)
                    dsm = 28;
                ff = a + "-" + ms + "-" + dsm + hf;
                break;
            case "6":
                //Mes pasado
                ms--;
                fi = a + "-" + ("0" + ms) + "-" + ("0" + (ds - (ds - 1)).toString()) + hi;
                if (ms == 0 || ms == 2 || ms == 4 || ms == 6 || ms == 7 || ms == 9 || ms == 11)
                    dsm = 31;
                if (ms == 3 || ms == 5 || ms == 8 || ms == 10)
                    dsm = 31;
                if (ms == 1)
                    dsm = 28;
                ff = a + "-" + ("0" + ms) + "-" + dsm + hf;
                break;
            case "7":
                //Este año
                fi = a + "-01-01" + hi;
                ff = a + "-12-31" + hf;
                break;
            case "8":
                //Año pasado
                fi = 2016 + "-01-01" + hi;
                ff = 2016 + "-12-31" + hf;
                break;
            default:
                alert("Default!!!");
                //code block
        }

        $.post("/Reporte/_ShowData", { ini: fi, fin: ff, ex: s }, function (data) {
            //$(gridContent).hide();
            $("#gridContent").html(data);
        }).fail(function (response) {
            alert("Error");
        });
    })
</script>