@model CDRTools.Models.Extension

<h3>¿Desea eliminar esta extensión?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id_Extension)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_Extension)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Extension_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Extension_Descripcion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">

            @Html.ActionLink("Cancelar", "Index", "Extension", null, new { @class = "btn btn-danger" })
            <input type="submit" value="Eliminar" class="btn btn-info" /> 
        </div>
    }
</div>
