@model IEnumerable<CDRTools.Models.Extension>

@{ViewBag.Title = "Extensiones"; }

<h2>Administración de extensiones</h2>

@Html.ActionLink("Nueva extensión", "Crear", "Extension", null, new {  @class="btn btn-success btn-sm"})

<table class="table table-hover table-bordered">
    <tr style="color: white; background: #008cba">
        <th>
            @Html.DisplayNameFor(model => model.Id_Extension)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Extension_Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id_Extension)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Extension_Descripcion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id=item.Id_Extension}) |
            @Html.ActionLink("Eliminar", "Eliminar", new { id=item.Id_Extension  })
        </td>
    </tr>
}

</table>