@model IEnumerable<CDRTools.Models.Extension>

@{ViewBag.Title = "Extensiones"; }

<h3>Administración de extensiones</h3>

<button id="nuevo" class="btn btn-success">Crear Extensión</button>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id_Extension)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Extension_Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id_Extension)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Extension_Descripcion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id=item.Id_Extension}) |
            @Html.ActionLink("Eliminar", "Eliminar", new { id=item.Id_Extension  })
        </td>
    </tr>
}

</table>

@Html.ActionLink("Crear Extensión", "Crear")

<script type="text/javascript">
    $(document).ready(function () {
    $('.nuevo').on('click', function (e) {
        e.preventDefault();
        $.get('@Url.Action("Crear","Extension")', function (result) {
            $('.body-content').html(result);
        });
    });
});
    //Reporte/GetReport?page=1
</script>