@*<div> 
    <table>
        <thead>
                <tr>
                    <th>ID_Mnager</th>
                    <th>Call_ID</th>
                    <th>Fecha</th>
                    <th>Extencion</th>
                    <th>Descripcion</th>
                    <th>Llamado</th>
                    <th>Duracion</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (System.Data.DataRow dr in ViewBag.emp.Rows)
                    {
                        <tr>
                            <td>@dr["globalCallID_callManagerId"]</td>
                            <td>@dr["globalCallID_callId"]</td>
                            <td>@dr["dateTimeOrigination"]</td>
                            <td>@dr["callingPartyNumber"]</td>
                            <td>@dr["Extension_Descripcion"]</td>
                            <td>@dr["originalCalledPartyNumber"]</td>
                            <td>@dr["duration"]</td>    
                        </tr>
                    }
                }
                
            </tbody>
    </table>
</div>*@

@{
    CDRTools.Models.Get_Llamadas_Extensiones product = new CDRTools.Models.Get_Llamadas_Extensiones();
}

@{
    var grid = new WebGrid(Model, canPage: true, rowsPerPage: 10,
    selectionFieldName: "selectedRow", ajaxUpdateContainerId: "result");
    grid.Pager(WebGridPagerModes.NextPrevious);} 

<div id="result">
    @grid.GetHtml(tableStyle: "table table-bordered table-hover",
            headerStyle: "header",
            alternatingRowStyle: "alt",
            selectedRowStyle: "select",
            columns: grid.Columns(
            grid.Column("globalCallID_callManagerId", "Manager ID"),
            grid.Column("globalCallID_callId", "Call ID"),
            grid.Column("dateTimeOrigination", "Fecha"),
            grid.Column("callingPartyNumber", "Extension"),
            grid.Column("Extension_Descripcion", "Descripcion"),
            grid.Column("originalCalledPartyNumber", "Numero Llamado"),
            grid.Column("duration", "Duracion")
    ))

    @*@if (grid.HasSelection)
    {
        product = (CDRTools.Models.Get_Llamadas_Extensiones)grid.Rows[grid.SelectedIndex].Value;
        <b>Manager ID</b> @product.globalCallID_callManagerId<br />
        <b>Call ID</b>  @product.globalCallID_callId<br />
            <b>Fecha</b> @product.dateTimeOrigination<br />
            <b>Extension</b> @product.callingPartyNumber<br />
            <b>Descripcion</b> @product.Extension_Descripcion<br />
            <b>Numero Llamado</b> @product.originalCalledPartyNumber<br />
            <b>Duracion</b> @product.duration<br />
    }*@
</div>