@model CDRTools.Models.IndexViewModel


<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <tr>
            <th>Hora Llamada</th>
            <th>Número Origen</th>
            <th>Número Destino</th>
            <th>Duración</th>
        </tr>
        @foreach (var llamada in Model.Llamadas)
        {
            <tr>
                <td>@llamada.dateTimeOrigination</td>
                <td>@llamada.callingPartyNumber</td>
                <td>@llamada.originalCalledPartyNumber</td>
                <td>@llamada.duration</td>
            </tr>
        }
    </table>
</div>

<!-- pager -->
<div class="container">
    @if (Model.Pager.EndPage > 1)
    {
        <ul class="pagination">
            @if (Model.Pager.CurrentPage > 1)
            {
                <li>
                    @Html.ActionLink("Primero", "GetReporte", "Reporte", new { id = 1 }, null)
                </li>
                <li >
                    @Html.ActionLink("Anterior", "GetReporte", "Reporte", new { id = @Model.Pager.CurrentPage-1 }, null)
                </li>
            }

                        @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                        {
                            <li></li>
                <li class="@(page == Model.Pager.CurrentPage ? "active" : "")">
                    <a href="@Url.Action("GetReporte","Reporte",new { id = @page})"> @page </a>
                </li>}

            @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
            {
                <li>
                    @Html.ActionLink("Siguiente", "GetReporte", "Reporte", new { id = @Model.Pager.CurrentPage+1 }, null)
                </li>
                <li>
                    @Html.ActionLink("Último", "GetReporte", "Reporte", new { id = @Model.Pager.TotalPages }, null)
                </li>
            }
        </ul>
    }
</div>

<div class="col-sm-2">
    <div class="btn btn-default">@Html.ActionLink("Create PDF", "CreateReport", "Reporte")</div>
</div>